@model IEnumerable<string>
@inject ICitiesService citiesServiceInView

@{
    ViewBag.Title = "Home";
}

<h1>Cities</h1>

@* For injecting Service in View *@
@{
    List<string> citiesFromServiceInView =  citiesServiceInView.GetCities();
}

<h3>injecting service in View Example</h3>
<ul class="list">
    @foreach (var city in citiesFromServiceInView)
    {
        <li>@city</li>
    }
</ul>
<br></br>
<h3>usual way displaying list through Model</h3>
<ul class="list">
    @foreach(var city in Model)
    {
        <li>@city</li>
    }
</ul>

<div class="box">
    <div>@ViewBag.Instance_Id_CitiesService_1</div>
    <div>@ViewBag.Instance_Id_CitiesService_2</div>
    <div>@ViewBag.Instance_Id_CitiesService_3</div>
</div>

<div class="box">
    <h1>Instance Id for Child Scope</h1>
    @ViewBag.Instance_Id_CitiesService_InChildScope
</div>